.details {
    display: inline-block;
    right: 0;
    height: calc(100% - 75px);
    top: 75px;
    overflow: auto;
    position: fixed;
    max-width: 480px;
    width: 30%;
    box-shadow: -3px 0px 6px -3px #00000036;
    background-color: #F5F5F5;
}

.details--hide{
    display: none;
}

.details__title{
    position: absolute;
    height: 75px;
    font-size: 1.7em;
    padding: 0.75em 1em;
    box-shadow: 0px 3px 6px 0px #00000036;
    z-index: 10;
}

.details__body{
    padding: 1.3em 1em 1em;
    margin-top: 75px;
    z-index: 5;
    height: calc(100% - 75px);
    overflow: auto;
}


.details__item{
    padding:0 !important;
    display: block;
}

.details__item > label{
    color: rgb(95, 99, 104);
    /* font-size: 13px; */
    font-weight: 500;
    margin-right: .25em;
    margin-bottom: 0;
}

.details__row{
    display: block;
    min-height: 100px;
    padding-top: 1em;
    min-height: 65px;
    /* height: 65px; */
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.details__item.col-6{
    width:calc(50% - 1em);
}

.details__item.col-6[divided]{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.details__item.col-6[divided]:first-child{
    margin-right:1em;
}

.details__item.col-12[divided] > div{
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.details__item > div{
    font-size: 16px;
}

.details__item > *{
    /* min-height: 100%; */
    user-select: none;
}

.details__item > *{
    display: inline-block;
    padding-top: 0.5em;
}


.details__item.col-12 > *{
    font-size: 16px;
}

.details__item.col-12 > *{
    width: 100%;
    
}

.details__row textarea{
    padding: 1em;
    text-align: justify;
    height: 200px;
    resize: none;
    font-size: 18px;
    background-color: inherit;
    /* border: 0; */
    width: 100%;
}

.details__item[data-slider="true"] > div{
    overflow-x: auto;
}

img {
    width: 300px !important;
    margin-right: 1em;
}



.details[data-grade='LOW'] > .details__title{
    background-color: rgb(0, 128, 0);
    color: white;
}
.details[data-grade='INTERMEDIATE'] > .details__title{
    background-color: rgb(255, 255, 0);
}
.details[data-grade='HIGH'] > .details__title{
    background-color: rgb(255, 22, 0);
    color:  white;
}

.report__history__team {
    float: right;
}

.details__close {
    background-image: url('../media/icon/close--white.svg');
    display: inline-block;
    width: 23px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    cursor: pointer;
}
.details[data-grade='INTERMEDIATE'] .details__close {
    background-image: url('../media/icon/close--black.svg');
}

@media screen and (max-width: 768px) {

    .details{
        float: none;
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .details__row{
        display: block;
        min-height: 50px;
        /* height: 50px; */
    }

    .details__row textarea{
        min-height: 100px;
        height: auto;
        padding: 0.5em;
    }
}

