* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(234, 234, 234);
}

.nav__report {
    text-align: center;
    position: relative;
    /* box-shadow: 0px 5px 13px -8px black; */
}

#refresh__button{
    width: 25px;
    height: 25px;
    background-image: url('../media/icon/refresh.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    /* float: right; */
}

.chooser__list__report {
    font-size: 20px;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
    cursor: pointer;
}

.chooser__list__report--selected {
    color: black;
}

.list__wrapper{
    width: 70%;
    min-width: 650px;
    max-width: 950px;
    max-height: calc(100% - 120px);
    overflow: hidden;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.list{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    height: calc(100% - 161px);
    position: relative;
    /* overflow: hidden; */
    transition: transform 200ms, opacity 150ms;
}

.list__report--hide#report--notfinished {
    transform: translateX(-50px);
}

.list__report--hide#report--finished {
    transform: translateX(50px);
}

.list__report--hide {
    display: none;
}
.list--hide {
    display: none;
}




.report__badge{
    left: 2em;
    margin-left: 0.5em;
    font-style: normal;
    text-transform: uppercase;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: rgb(87, 122, 243);
}

.report {
    width: 100%;
    min-height: 100px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
    padding: 1em;
    overflow: hidden;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
}

.report > p {
    /* display: inline-block; */
}

.report > label {
}

.report img {
    width: 350px;
    margin-right: 1em;
}

.report__photo__opener {
    float: right;
}

.report__photo__wrapper {
    overflow-x: auto;
}

.report__photo {
    display: inline-block;
}

.report__photo--hide {
    display: none;
}

.report__grade__ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    /* text-align: center; */
}

.report__grade__ball[data-grade=LOW] {
    background-color: green;
}

.report__grade__ball[data-grade=INTERMEDIATE] {
    background-color: yellow;
}

.report__grade__ball[data-grade=HIGH] {
    background-color: red;
}

tr.row100.body{
    cursor:pointer;
}


tr.row100.body:hover > * {
    background-color: rgba(108, 122, 224, 0.47);
    color: white !important;
}

.tr--selected > *{
    background-color:rgb(127, 155, 255) !important;
    color: white !important;
}


.row--hide{
    display: none;
}



.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}
.col-12 {width: 100%;}
.col-11 {width: 91.66666667%;}
.col-10 {width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}


#nav__side > p:hover{
    background-color: #909ae0;
    color: white;
}

#nav__side > p.selected{
    background-color: #6c7ae0;
    color: white;
}

#nav__side > p {
    font-size: 23px;
    cursor: pointer;
    /* margin-bottom: 0.3em; */
    padding-left: 1em;
    display: block;
    width: 100%;
}

#nav__side {
    position: absolute;
    float: left;
    left: 0;
    top: 75px;
    width: 250px;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* display: none; */
}


input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    box-shadow: 0px 10px 30px -1px black;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    display: none;
    z-index: 60;
}

.report__recap__actions,
.team__recap__actions {
    display: inline-block;
    font-size: 18px;
}

.report__recap__actions > button,
.team__recap__actions > button {
    text-transform: uppercase;
    letter-spacing: -1px;
    /* margin-left: 2em; */
    background-color: rgb(121, 150, 249);
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    font-weight: 800;
    border-radius: 4px;
}

.report__recap,
.team__recap {
    text-align: center;
}

#overlay {
    position:fixed;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:65;
    display:block;
    opacity:0;
    transition:opacity 250ms;
    pointer-events:none;
}

#overlay.overlay--show{
    opacity:1;
    pointer-events:auto;
}

#list__result {
    height: auto;
    position: relative;
}

#list__result .container-table100 {
    min-height: auto;
}

#list__result .table100-body.js-pscroll {
    min-height: auto;
}


input[type="submit"] {
    width: 75px;
    height: 35px;
    font-size: 19px;
    background-color: rgb(65, 65, 208);
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 3px 15px -1px rgba(65, 65, 208, 0.5);
    color: white;
    cursor: pointer;
    transition: transform 100ms;
}

input[type="submit"]:hover {
    transform: translateY(-2px);
}

form {
    /* float: right; */
}

header {padding: 2em;/* box-sizing: border-box; *//* display: inline-block; */}

span#menu {
    background-image: url('../media/icon/menu.svg');
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-size: contain;
    margin-right: 1em;
    display: none;
}

#nav__side input[type="submit"] {
    width: calc(100% - 2em);
    margin: 1em;
    position: absolute;
    bottom: 0;
}
@media screen and (min-width: 768px) {
    input[type="submit"].push--up {
        transform: translateY(-40px);
    }
}

@media screen and (max-width: 768px) {
    .list{
        width: 100%;
        margin: 0;
        height: 100%;
    }

    .list *{
        font-size: 13px !important;
        -webkit-font-smoothing: antialiased;
    }

    .column1{
        padding-left: 10px;
    }

    input[type="checkbox"]{
        width: 17px;
        height: 17px;
    }

    .table100-head th{
        padding-right: 0;
    }

    .list__wrapper {
        width: 70%;
        min-width: 100%;
    }

    #nav__side{
        position: absolute;
        z-index: 70;
        box-shadow: 1px 0px 19px 2px #6875da;
        background-color: white;
        height: 100%;
        top: 0;
        transform: translate(-105%,0);
        transition: transform 200ms;
        will-change: translate;
    }

    #nav__side.nav__side--show{
        transform: translate(-1%,0);
    }

    span#menu{
        display: inline-block;
    }
    

}

