* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    
margin: 0;
    
height: 100%;
    
/* background-color: rgb(95, 89, 89); */
}

.nav__report {
    /* text-align: center; */
    height: 65px;
    /* box-shadow: 0px 5px 13px -8px black; */
}

#refresh__button{
    width: 25px;
    height: 25px;
    background-image: url('../media/icon/refresh.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: 1em;
}

.chooser__list__report {
    font-size: 20px;
    display: inline-block;
    margin: 1em;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
    cursor: pointer;
}

.chooser__list__report--selected {
    color: black;
}

.list__report__wrapper {
    width: 70%;
    max-width: 950px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.list__report {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    height: calc(100% - 90px);
    /* overflow: auto; */
    transition: transform 200ms, opacity 150ms;
}

.list__report--hide#report--notfinished {
    transform: translateX(-50px);
}

.list__report--hide#report--finished {
    transform: translateX(50px);
}

.list__report--hide {
    display: none;
}




.report__badge{
    left: 2em;
    margin-left: 0.5em;
    font-style: normal;
    text-transform: uppercase;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: rgb(87, 122, 243);
}

.report {
    width: 100%;
    min-height: 100px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
    padding: 1em;
    overflow: hidden;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
}

.report > p {
    /* display: inline-block; */
}

.report > label {
}

.report img {
    width: 350px;
    margin-right: 1em;
}

.report__photo__opener {
    float: right;
}

.report__photo__wrapper {
    overflow-x: auto;
}

.report__photo {
    display: inline-block;
}

.report__photo--hide {
    display: none;
}

.report__grade__ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    /* text-align: center; */
}

.report__grade__ball[data-grade=LOW] {
    background-color: green;
}

.report__grade__ball[data-grade=INTERMEDIATE] {
    background-color: yellow;
}

.report__grade__ball[data-grade=HIGH] {
    background-color: red;
}

tr.row100.body{
    cursor:pointer;
}


tr.row100.body:hover > * {
    background-color: rgba(108, 122, 224, 0.47);
    color: white !important;
}

.tr--selected > *{
    background-color:rgb(127, 155, 255) !important;
    color: white !important;
}


.row--hide{
    display: none;
}

@media screen and (max-width: 768px) {
    .list__report__wrapper{
        width: 100%;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}
.col-12 {width: 100%;}
.col-11 {width: 91.66666667%;}
.col-10 {width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}


.nav__side > p:hover{
    background-color:#6c7ae0;
    color: white;
}

.nav__side > p {
    font-size: 23px;
    cursor: pointer;
    /* margin-bottom: 0.3em; */
    padding-left: 1em;
    display: block;
    width: 100%;
}

.nav__side {
    position: relative;
    float: left;
    left: 0;
    top: 75px;
    width: 250px;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
}

body  * {
    /* background-color: rgb(95, 89, 89) !important; */
    /* color: white; */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

