* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    
    margin: 0;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

.nav__report {
    text-align: center;
    height: 65px;
    /* box-shadow: 0px 5px 13px -8px black; */
}

#refresh__button{
    width: 25px;
    height: 25px;
    background-image: url('../media/icon/refresh.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: 1em;
}

.chooser__list__report {
    font-size: 20px;
    display: inline-block;
    margin: 1em;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
    cursor: pointer;
}

.chooser__list__report--selected {
    color: black;
}

.list__report__wrapper {
    width: 75%;
    /* float: right; */
    overflow: hidden;
}

.list__report {
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 75px);
    /* overflow: auto; */
    transition: transform 200ms, opacity 150ms;
}

.list__report--hide#report--notfinished {
    transform: translateX(-50px);
}

.list__report--hide#report--finished {
    transform: translateX(50px);
}

.list__report--hide {
    display: none;
}

.report {
    width: 100%;
    min-height: 100px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
    padding: 1em;
    overflow: hidden;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
}

.report > p {
    /* display: inline-block; */
}

.report > label {
}

.report img {
    width: 350px;
    margin-right: 1em;
}

.report__photo__opener {
    float: right;
}

.report__photo__wrapper {
    overflow-x: auto;
}

.report__photo {
    display: inline-block;
}

.report__photo--hide {
    display: none;
}

.report__grade__ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

.report__grade__ball[data-grade=LOW] {
    background-color: green;
}

.report__grade__ball[data-grade=INTERMEDIATE] {
    background-color: yellow;
}

.report__grade__ball[data-grade=HIGH] {
    background-color: red;
}

tr.row100.body{
    cursor:pointer;
}

tr.row100.body:hover > * {
    background-color: #7f9bff;
    color: white !important;
}

.row--hide{
    display: none;
}

@media screen and (max-width: 768px) {
    .list__report__wrapper{
        width: 100%;
    }
  }
